<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignment 5-2E/src/edu/iastate/cs228/hw5/rendering/TerrainBoard.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.iastate.cs228.hw5.rendering.TerrainBoard"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment 5-2E"/>
</launchConfiguration>
